body {
  background-color: #eceef4;
  font-family: Roboto;
}
a {
  text-decoration: none;
  color: #a5abc5;
}

/*               HEADER           */

header {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
}

.innerHeader {
    width: 1140px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
  border-radius: 100%;
  transition: 0.4s;
}

.header:hover {
  box-shadow: 0px 5px 5px #c9d0e1;
}

.headerButtons {
    width: 160px;
    height: 65px;
    max-width: 160px;
    width: 30%;
    background-color: transparent;
    border: 1px solid #c9d0e1;
    text-transform: uppercase;
    color: #a5abc5;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.4s;
    cursor: pointer;
}

.headerButtons:hover {
      box-shadow: 1px 1px 1px;
}

/*                  Main            */

form {
  display: inline;
  width: 100%;
  height: 100%;
}

.adjust {
  width: 100%;
  height: 2000px;
  display: flex;
  justify-content: space-around;
}

.container {
  width: 1140px;
  height: 100%;
  display: flex;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #c9d0e1;
}

.upperMenu {
  width: 100%;
  height: 175px;
  display: flex;
}

.orderInfo {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1.5px solid #c9d0e1;
  border-right: 1.5px solid #c9d0e1;
  color: #6d758f;
}
.summary {
  padding-left: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.summaryHeader {
  align-self: flex-start;
  margin-top: 0;
}

.summaryHeader::before {
  content: "";
  display: block;
  background: url("../img/icon-table.png") no-repeat;
  width: 25px;
  height: 27px;
  float: left;
  margin: 0 6px 0 0;
}

.helpBlock {
  width: 30%;
  height: 100%;
  border-bottom: 1.5px solid #c9d0e1;
  color: #6d758f;
  display: flex;
  justify-content: center;
}
.wideTable {
  width: 100%;
  font-size: 14px;
  padding-left: 30px;
}
.alignTh {
  text-align: left;
  padding-bottom: 10px;
}
.left {
  display: flex;
  width: 70%;
  align-items: center;
  height: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.upperMenuButton {
  width: 160px;
  height: 48px;
  background-color: white;
  color: #c9d0e1;
  border: 2px solid #c9d0e1;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.upperMenuButton:hover {
  color: #6d7a9a;
  border: 2px solid #a3beff;
}

.order {
  color: white;
  border: 0;
  background-color: #5fcac6;
  margin-bottom: 10px;
}
.order:hover {
    color: white;
}

.textHelp {
  width:  80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.paraHelp {
  font-size: 14px;
  padding-left: 30px;
}

.textHelp > .summaryHeader {
    margin-bottom: 0;
    margin-top:  12%;
}
.textHelp > .summaryHeader::before {
  background: url("../img/rescue.svg") no-repeat;
}

.contacts {
  display: flex;
  font-size: 12px;
  justify-content: space-around;
}

/*                    DOCUMENT CHOOSE SECTION            */

.documentTake {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6d758f;
}

.selectionText {
    letter-spacing: 3.5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c9d0e1;
}

.input {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.radioInput {
  margin-top: 2%;
  width: 80%;
  height: 220px;
  display: flex;
  justify-content: space-between;
}

.radioBox {
  width: 28%;
  height: 100%;
  min-width: 255px;
  box-sizing: border-box;
  display: flex;
  border: 1.5px solid #c9d0e1;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  color: #99a1bb;
  letter-spacing: 1px;
}

.input:checked + .radioBox {
    border: 4px solid #76a7e1;
}

.checked {
  display: none;
}

.input:checked + .radioBox > .checked {
    content: "";
    display: inline;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url("../img/checked.png") no-repeat;
    margin: -108px 126px;
    z-index: 10;
}

/*                     DOCUMENT UPLOAD                 */
.documentUpload {
  margin-top: 4%;
  margin-right: 10%;
    color: #6d758f;
}

.allTextDocumentUpload {
  display: flex;
}
.uploadText {
  margin-top: 20px;
  padding-right: 20px;
  font-size: 30px;
}
.numberSection {
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 30px;
  border: 2px solid gray;
  border-radius: 50%;
   margin-left: 3.7%;
}

.smallUploadText {
  padding-top: 15px;
  color: #b8c2da;
}

.inputHideFile {
  display: none;
}

.uploadFile {
   width: 220px;
   height: 60px;
   border: 2px solid #c9d0e1;
   box-sizing: border-box;
   border-radius: 5px;
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: 0.4s;
   margin-left: 10%;
}

.inputFileText {
  margin-left: 5px;
}

.upload {
  background: url(../img/upload-to-cloud-button.svg) no-repeat;
  background-position: center;
  background-size: 90%;
  width: 30px;
  height: 30px;
}

.uploadFile {
  justify-content: center;
}

.uploadFile:hover {
  border: 1.5px solid #76a7e1;
}

.deleteFile {
  width: 18px;
  height:  18px;
  cursor: pointer;
}

.documentUpload > .wideTable {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid #d9deea;
  margin-left: 10%;
  width: 90%;
}


.th-to-left {
  text-align: left;
}

.td-to-center {
  padding-left: 22px;
}

.documentLanguage {
  margin-top: 4%;
  color: #6d758f;

}

.select-button {
  position: relative;
  max-width: 160px;
  margin-left: 6%;
  height: 60px; 
}
.select-button-next{
  margin-left: 2%;
}
.select-button-inner {
  padding: 1em 0.2em 1em 1em;
  width: 160px;
  height: 100%;
  border: 2px solid #c9d0e1;
  border-radius: 5px;
  overflow: hidden;
  text-align:center;
  -webkit-appearance: none;
  cursor: pointer;
  color: #6d758f;
}
.select-button::after {
  content: "▼";
  width: 48px;
  height: 58px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 2px solid #c9d0e1;
  border-radius: 0 5px 5px 0;
  display: flex;
  pointer-events: none;
}
.select-button-from::before {
  content: "FROM";
  position: absolute;
  top: 35%;
  left: -40%;
  font-size: 14px;
}
.select-button-to::before {
  content: "TO";
  position: absolute;
  top: 35%;
  left: -34%;
  font-size: 14px;
}
.select-button-inner::-ms-expand {
  display: none;
}
.block-to-center {
  margin-left: 10%;
  margin-bottom: 2%;
  display: flex;
}
.select-delete {
  margin: 2%;
  margin-left: 1%;
}
.add-button {
  width: 80px;
  border: 2px solid #c9d0e1;
  border-radius: 5px;
  overflow: hidden;
  text-align:center;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: white;
  color: #6d758f;
}
.add-button::before {
  content: "+";
  position: relative;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
}
/*                TONE + TIME SELECT SECTION           */
.toneSelect {
  margin-top: 4%;
  margin-right: 10%;
    color: #6d758f;
}
.second-elem {
  padding-right:0;
}
.second-elem-numb {
  margin-left: 10%;
}
.tone-time-container {
  display: flex;
}
.tone {
  margin-left: 10%;
}
.select-tone {
  width: 230px;
  height: 60px;
  border: 2px solid #c9d0e1;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10%;
}
.input:checked + .select-tone > .checkedTone {
  content: "";
  display: inline;
  width: 40px;
  height: 40px;
  position: absolute;
  background: url("../img/checked.png") no-repeat;
  margin: -25px 113px;
  z-index: 10;
}
.input:checked + .select-tone {
  border: 4px solid #76a7e1;
}
.tone-before::before {
  content: "";
  width: 25px;
  height: 25px;
  position: relative;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}
.media::before {
  background-image: url("../img/megaphone.svg");
}
.chat::before {
  background-image: url("../img/chat.svg");
}
.suitcase::before {
  background-image: url("../img/suitcase.svg");
}
.time-range {
  margin-top: 4%;
  margin-left: 26%;
  width:400px;
  height: 113px;
}
.time-range-button {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.time-range-button::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: #c9d0e1;
  height: 10px;
  border-radius: 5px;
}
.time-range-button::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 25px;
    background-color: #e2ae60;
    border-radius: 100%;
    margin-top: -9px;
    box-sizing: border-box;
    z-index: 2;
    position: relative;
}
.time-range-button::before,
.time-range-button::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color:#a4aabd;
    border-radius: 100%;
}
.time-range-button::after {
    margin-left: 390px;
}
.range-text {
  display: flex;
  justify-content: space-between;
}
.range-info {
  width: 100%;
  height: 100%;
  border: 1px solid #d9deea;
  border-radius: 5px;
}
.info-header {
  margin-left: 5%;
}
.info-header::before {
  content: "";
  display: block;
  background: url("../img/information.svg") no-repeat;
  width: 25px;
  height: 25px;
  float: left;
  margin: -3px 6px 10px 0px;
}
.to-orange {
  color: #e2ae60;
}
.range-para {
  font-size: 12px;
margin: 0 13%;
}
